<perch:form app="pipit_stripe" id="unsubscribe" method="post">
    <perch:error type="login" for="all">
        <div class="error">
            <p>Please log in to unsubscribe</p>        
        </div>
    </perch:error>
    <perch:error type="unsubscribe" for="all">
        <div class="error">
            <p>We had trouble completing your request. Please try again or contact us and we'll happily assist you.</p>        
        </div>
    </perch:error>

    <!--* Hidden Fields *-->
    <perch:input id="customer_email" type="hidden" value="<perch:stripe id="customer_email">" />
    <perch:input id="planID" type="hidden" value="<perch:stripe id="planID">" />
    <!--*/ Hidden Fields *-->

    <div class="field">
        <perch:label for="cancel_at_end">When would you like to cancel your subscription?</perch:label>
        <perch:input id="cancel_at_end" type="select" options="End of subscription|1,Immediately|0">
    </div>

    <perch:input id="submit" type="submit" value="Unsubscribe" class="button" />
</perch:form>